.form-column {
    max-width: 650px;
    margin-top: 20px;
}
.avatar-image{
    width: 180px;
    height: 180px;
    border: 1px solid gray;
    margin: 5px auto 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    border-radius: 5px;
}